body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*Je demande a mon body de faire au minimum la taille de l'ecran*/
    min-height: 100vh;
}

header {
    height: 100px;
    width: 90%;
    display: flex;
    background-color: #FFC0CB;
}

.header1 {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    min-height: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    /* IMPORTANT : pour éviter toute déformation et afin que ma partie central prenne toute la place disponible j'utilise la propriété flex-grow */
    /* https://developer.mozilla.org/fr/docs/Web/CSS/flex-grow */
    flex-grow: 1;
}

.rouge {
    display: flex;
    background-color: red;
    height: 100px;
    width: 100%;
}

.bleu {
    display: flex;
    height: 100px;
    width: 50%;
    background-color: blue;
}

.violet {
    display: flex;
    height: 100px;
    width: 50%;
    background-color: blueviolet;
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFC0CB;
}